<link rel="stylesheet" href="content/css/dashboard.css">

<div class="navbar">
    <h1 class="white nomar">Dashboard</h1>

</div>
<div class="col-lg-10 col-lg-offset-1">
    <h2>Session ID {{sessions.id}} {{gametype}}</h2>
</div>
<div class="col-lg-10 col-lg-offset-1 whitebkg flex somepadding box" style="margin-bottom: 20px">
    <div class="col-lg-6 left flexcol">
        <span>Nome Laboratorio {{matches[0].session.poRoot}}</span>
        <span>Nome Gioco {{sessions.game.description}}</span>
        <span>Stato Appuntamento</span>
        <span>Da {{sessions.startDate}}</span>
        <span>A {{sessions.endDate}}</span>
    </div>
    <div class="mid col-lg-3 flexcol">
        <span>Sessioni</span>
        <div class="bigcircle">
            <h2 class="nomar">63%</h2>
        </div>
    </div>
    <div class="right col-lg-3 flexcol">
        <span>High Score</span>
        <div class="bigcircle">
            <h2 class="nomar">1234</h2>
        </div>
    </div>
</div>
<div class="col-lg-10 col-lg-offset-1">
    <h2>Giocatori</h2>
</div>
<div class="col-lg-10 col-lg-offset-1 whitebkg box nopadding brdbot">
    <div class="match flexbtw nobrdbot" ng-repeat="match in matches">
        <div class="statusinfo"></div>
        <div class="alias "><span>{{match.userId}}</span></div>
        <div class="minpoints">Pti Min</div>
        <div class="maxpoints" ng-if="levelgame == true">{{match.bestLevel}} Liv</div>
        <div class="maxpoints" ng-if="levelgame == false">{{match.bestScore}} Pti</div>
        <div class="advancement ">Avanzamento</div>
        <div class="status ">Non ha ancora giocato</div>
        <div class="btns">
            <div class="btn btn-primary btn-sm reset">Reset</div>
            <div class="btn btn-warning btn-sm interrupt">Interrompi</div>
            <div class="btn btn-danger btn-sm ">Chiudi</div>
        </div>
    </div>

</div>

<p>{{sessions}}</p>
