<div id="price-tables" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header" fxLayout="column" fxLayoutAlign="center center" [ngStyle]="{'background-image':'url(assets/images/SfondoScarabeo.png)'}">

        <div class="hero-text" fxLayout="column" fxLayoutAlign="center center" fxFlex>
          <br><br>
            <div class="h1">Sfida della settimana!</div>
        </div>
      <div class="content" fxLayout="column">
        <div class="price-tables" fxLayout="row" fxLayoutAlign="end center" fxLayoutWrap>

          <div class="price-table ptside style-3 " fxLayout="column">

            <div class="package-type" [ngStyle]="{ 'background-image': 'url(assets/images/DrawLine1.jpg)'}">
            </div>

            <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">DRAW LINE</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

              <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  Le regole di Draw Line sono semplici: riempi tutte le caselle
                  dello schema creando percorsi che collegano i due puntini dello
                  stesso colore, senza limiti di tempo. Esplora le varie alternative
                  e se non sei soddisfatto puoi sempre tornare sui tuoi passi
                </p>
              </div>
            </div>

              <!--<button mat-raised-button class="cta-button" color="accent">GET STARTED FREE</button>-->

               <!--<div class="note">7 day free trial to start</div>-->

          </div>
          <div class="price-table ptside style-3 " fxLayout="column">

            <div class="package-type" [ngStyle]="{ 'background-image': 'url(assets/images/Electrio1.jpg)'}">
            </div>

            <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">ELECTRIO</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  I poli opposti si attraggono, è una legge universale. Electrio
                  ti sfida ad unire gli elettroni con cariche diverse per formare
                  atomi sempre più complessi. Nessun limite di tempo, l'unico
                  vincolo per superare i 25 livelli è non sovrapporre i collegamenti.
                  Mano mano che proseguirai, diventerà sempre più difficile costruire
                  il tuo atomo.
                </p>
              </div>
            </div>


            <!--<div class="note">7 day free trial to start</div>-->

          </div>

          <div class="price-table ptmain style-3 " fxLayout="column">

            <div class="package-typem" [ngStyle]="{ 'background-image': 'url(assets/images/Make7Banner.png)'}">

            </div>

            <div class="price mat-primary-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">MAKE 7</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="center center">
              <div class="term">
                <p>
                  Make 7! è un puzzle game in cui ti è richiesto di spostare le tessere per
                  creare combinazioni ottenendo tre numeri uguali in fila. Tre tessere uguali
                  affiancate infatti si fondono ed originano il numero più grande successivo.
                  L’obiettivo finale è arrivare a ottenere quanti più 7 possibile: più volte
                  riuscirai a comporre triplette di numeri elevati maggiore sarà il punteggio
                  guadagnato. Non ci sono limiti di tempo. Un suggerimento prima di cimentarti
                  nella sfida: ricorda di tenere spazio libero per muovere le tessere!
                </p>
                <button mat-raised-button class="cta-button btn" color="accent" [routerLink]="['/lab/id']">VAI ALLA SFIDA</button>
              </div>
            </div>


            <!--<div class="note">30 day free trial to start</div>-->

          </div>

          <div class="price-table ptside style-3 " fxLayout="column">

            <div class="package-type" [ngStyle]="{ 'background-image': 'url(assets/images/Engineerio1.jpg)'}">
            </div>

            <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">ENGINEERIO</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  Per superare la sfida con Engineerio dovrai rispolverare le tue
                  conoscenze di fisica e della legge della gravità! Lo scopo della
                  Sfida è far arrivare la pallina rossa alla zona verde. Per riuscirci,
                  dovrai esplodere i cerchi grigi che sostengono i piani di rimbalzo
                  e creare la strada migliore per arrivare al traguardo finale. Non
                  ci sono limiti di tempo; il tuo obiettivo è completare più livelli
                  possibili. Attento però: man mano che avanzerai, lo scenario si
                  complicherà, rendendo sempre più difficile progettare il percorso
                  della pallina verso la zona verde.
                </p>
              </div>
            </div>

            <!--<button mat-raised-button class="cta-button" color="accent">GET STARTED FREE</button>-->

            <!--<div class="note">7 day free trial to start</div>-->

          </div>
          <div class="price-table ptside style-3 " fxLayout="column">

            <div class="package-type" [ngStyle]="{ 'background-image': 'url(assets/images/ThiefChallenge1.jpg)'}">
            </div>

            <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">THIEF CHALLENGE</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  Mettiti nei panni di un ladro professionista e cimentati con
                  le prove di Thief Challenge! In questa sfida il tempo è tiranno:
                  supera lil mix di prove nel minor tempo possibile per guadagnare
                  punti, passare ai livelli successivi e... non farti beccare con
                  le mani nel sacco!
                </p>
              </div>
            </div>

            <!--<button mat-raised-button class="cta-button" color="accent">GET STARTED FREE</button>-->

            <!--<div class="note">7 day free trial to start</div>-->

          </div>
        </div>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" fxLayout="column">
        <div class="leaderboards" fxLayout="row" fxLayoutWrap>
          <div class="table-users">
            <div class="capo">CLASSIFICA LABORATORIO</div>

            <table cellspacing="0">

                <mat-tab-group dynamicHeight="true">
                    <mat-tab label="COMPLESSIVA">
                      <app-complessiva></app-complessiva>
                    </mat-tab>
                    <mat-tab label="LOGICA">
                      <app-logica></app-logica>
                    </mat-tab>
                    <mat-tab label="CREATIVITÁ">
                      <app-creativita></app-creativita>
                    </mat-tab>
                    <mat-tab label="PROBLEM SOLVING" class="last-label">
                      <app-problemsolving></app-problemsolving>
                    </mat-tab>
                </mat-tab-group>


            </table>
          </div>
          <div class="table-users">
            <div class="capo">CLASSIFICA GLOBALE</div>

            <table cellspacing="0">
              <tr>
                <mat-tab-group dynamicHeight="true">
                  <th>
                    <mat-tab label="COMPLESSIVA">
                      <app-complessiva></app-complessiva>
                    </mat-tab>
                  </th>
                  <th>
                    <mat-tab label="LOGICA">
                      <app-logica></app-logica>
                    </mat-tab>
                  </th>
                  <th>
                    <mat-tab label="CREATIVITÁ">
                      <app-creativita></app-creativita>
                    </mat-tab>
                  </th>
                  <th>
                    <mat-tab label="PROBLEM SOLVING">
                      <app-problemsolving></app-problemsolving>
                    </mat-tab>
                  </th>
                </mat-tab-group>
              </tr>

            </table>
          </div>
        </div>
    </div>

</div>

