<div id="price-tables" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header" fxLayout="column" fxLayoutAlign="center center" [ngStyle]="{'background-image':'url(assets/images/labbkg.jpeg)'}">

        <div class="hero-text" fxLayout="column" fxLayoutAlign="center center" fxFlex>
          <br><br>
            <div class="h1">Sfida della settimana!</div>
            <div class="h3">
                INIZIA: 25/06/2017 12:00 - FINISCE: 7/07/2017 12:00
            </div>

        </div>
      <div class="content" fxLayout="column">
        <div class="price-tables" fxLayout="row" fxLayoutAlign="end center" fxLayoutWrap>

          <div class="price-table ptside style-3 " fxLayout="column">

            <div class="package-type">
              <div class="title">foto</div>
              <div class="subtitle">del gioco</div>
            </div>

            <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">Make 7</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem, corporis cumque est fugiat iste, iure provident quis repellat rerum sequi, vel? Culpa ea eos minus nihil numquam omnis possimus!
                </p>
              </div>
            </div>

            <!--<button mat-raised-button class="cta-button" color="accent">GET STARTED FREE</button>-->

            <!--<div class="note">7 day free trial to start</div>-->

          </div>
          <div class="price-table ptside style-3 " fxLayout="column">

            <div class="package-type">
              <div class="title">foto</div>
              <div class="subtitle">del gioco</div>
            </div>

            <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">Make 7</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem, corporis cumque est fugiat iste, iure provident quis repellat rerum sequi, vel? Culpa ea eos minus nihil numquam omnis possimus!
                </p>
              </div>
            </div>


            <!--<div class="note">7 day free trial to start</div>-->

          </div>

          <div class="price-table ptmain style-3 " fxLayout="column">

            <div class="package-type" [ngStyle]="{ 'background-image': 'url(assets/images/Make7Banner.png)'}">

            </div>

            <div class="price mat-primary-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">MAKE 7</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  Make 7! è un puzzle game in cui ti è richiesto di spostare le tessere per creare combinazioni ottenendo tre numeri uguali in fila. Tre tessere uguali affiancate infatti si fondono ed originano il numero più grande successivo. L’obiettivo finale è arrivare a ottenere quanti più 7 possibile: più volte riuscirai a comporre triplette di numeri elevati maggiore sarà il punteggio guadagnato. Non ci sono limiti di tempo. Un suggerimento prima di cimentarti nella sfida: ricorda di tenere spazio libero per muovere le tessere!
                </p>
              </div>
            </div>

            <button mat-raised-button class="cta-button" color="accent">VAI ALLA SFIDA</button>

            <!--<div class="note">30 day free trial to start</div>-->

          </div>

          <div class="price-table ptside style-3 " fxLayout="column">

            <div class="package-type">
              <div class="title">foto</div>
              <div class="subtitle">del gioco</div>
            </div>

            <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">Make 7</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem, corporis cumque est fugiat iste, iure provident quis repellat rerum sequi, vel? Culpa ea eos minus nihil numquam omnis possimus!
                </p>
              </div>
            </div>

            <!--<button mat-raised-button class="cta-button" color="accent">GET STARTED FREE</button>-->

            <!--<div class="note">7 day free trial to start</div>-->

          </div>
          <div class="price-table ptside style-3 " fxLayout="column">

            <div class="package-type">
              <div class="title">foto</div>
              <div class="subtitle">del gioco</div>
            </div>

            <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">Make 7</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem, corporis cumque est fugiat iste, iure provident quis repellat rerum sequi, vel? Culpa ea eos minus nihil numquam omnis possimus!
                </p>
              </div>
            </div>

            <!--<button mat-raised-button class="cta-button" color="accent">GET STARTED FREE</button>-->

            <!--<div class="note">7 day free trial to start</div>-->

          </div>
        </div>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" fxLayout="column">
        <div class="leaderboards" fxLayout="row" fxLayoutWrap>
          <div class="table-users">
            <div class="capo">CLASSIFICA LABORATORIO</div>

            <table cellspacing="0">

                <mat-tab-group dynamicHeight="true">
                    <mat-tab label="COMPLESSIVA">
                      <app-complessiva></app-complessiva>
                    </mat-tab>
                    <mat-tab label="LOGICA">
                      <app-logica></app-logica>
                    </mat-tab>
                    <mat-tab label="CREATIVITÁ">
                      <app-creativita></app-creativita>
                    </mat-tab>
                    <mat-tab label="PROBLEM SOLVING" class="last-label">
                      <app-problemsolving></app-problemsolving>
                    </mat-tab>
                </mat-tab-group>


            </table>
          </div>
          <div class="table-users">
            <div class="capo">CLASSIFICA GLOBALE</div>

            <table cellspacing="0">
              <tr>
                <mat-tab-group dynamicHeight="true">
                  <th>
                    <mat-tab label="COMPLESSIVA">
                      <app-complessiva></app-complessiva>
                    </mat-tab>
                  </th>
                  <th>
                    <mat-tab label="LOGICA">
                      <app-logica></app-logica>
                    </mat-tab>
                  </th>
                  <th>
                    <mat-tab label="CREATIVITÁ">
                      <app-creativita></app-creativita>
                    </mat-tab>
                  </th>
                  <th>
                    <mat-tab label="PROBLEM SOLVING">
                      <app-problemsolving></app-problemsolving>
                    </mat-tab>
                  </th>
                </mat-tab-group>
              </tr>

            </table>
          </div>
        </div>
    </div>

</div>

