<div id="price-tables" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header" fxLayout="column" fxLayoutAlign="center center" [ngStyle]="{'background-image':'url(assets/images/SfondoScarabeo.png)'}">

        <div class="hero-text" fxLayout="column" fxLayoutAlign="center center" fxFlex>
          <br><br><br>
            <div class="h1">{{'PRICING.WEEKLY_CHALLENGE' | translate}}!</div>
        </div>
      <div class="content" fxLayout="column">
        <div class="price-tables" fxLayout="row" fxLayoutAlign="end center" fxLayoutWrap>

          <div class="price-table ptside style-3 " fxLayout="column">

            <div class="package-type" [ngStyle]="{ 'background-image': 'url(assets/images/DrawLine1.jpg)'}">
            </div>

            <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">DRAW LINE</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

              <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  {{ 'PRICING.RULE_DRAWLINE' | translate }}
                </p>
              </div>
            </div>

              <!--<button mat-raised-button class="cta-button" color="accent">GET STARTED FREE</button>-->

               <!--<div class="note">7 day free trial to start</div>-->

          </div>
          <div class="price-table ptside style-3 " fxLayout="column">

            <div class="package-type" [ngStyle]="{ 'background-image': 'url(assets/images/Electrio1.jpg)'}">
            </div>

            <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">ELECTRIO</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  {{ 'PRICING.RULE_ELECTRIO' | translate }}
                </p>
              </div>
            </div>


            <!--<div class="note">7 day free trial to start</div>-->

          </div>

          <div class="price-table ptmain style-3 " fxLayout="column">

            <div class="package-typem" [ngStyle]="{ 'background-image': 'url(assets/images/Make7Banner.png)'}">

            </div>

            <div class="price mat-primary-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">MAKE 7</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="center center">
              <div class="term">
                <p>
                  {{ 'PRICING.RULE_MAKE7' | translate }}
                </p>
                <button mat-raised-button class="cta-button btn" color="accent" [routerLink]="['/lab/id']">VAI ALLA SFIDA</button>
              </div>
            </div>


            <!--<div class="note">30 day free trial to start</div>-->

          </div>

          <div class="price-table ptside style-3 " fxLayout="column">

            <div class="package-type" [ngStyle]="{ 'background-image': 'url(assets/images/Engineerio1.jpg)'}">
            </div>

            <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">ENGINEERIO</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  {{ 'PRICING.RULE_ENGINEERIO' | translate }}
                </p>
              </div>
            </div>

            <!--<button mat-raised-button class="cta-button" color="accent">GET STARTED FREE</button>-->

            <!--<div class="note">7 day free trial to start</div>-->

          </div>
          <div class="price-table ptside style-3 " fxLayout="column">

            <div class="package-type" [ngStyle]="{ 'background-image': 'url(assets/images/ThiefChallenge1.jpg)'}">
            </div>

            <div class="price mat-primary-300-bg" fxLayout="row" fxLayoutAlign="center start">
              <!--<div class="currency">$</div>-->
              <div fxLayout="row" fxLayoutAlign="center end">
                <div class="value">THIEF CHALLENGE</div>
                <!--<div class="period">monthly per user</div>-->
              </div>
            </div>

            <div class="terms" fxLayout="column" fxLayoutAlign="start center">
              <div class="term">
                <p>
                  Mettiti nei panni di un ladro professionista e cimentati con
                  le prove di Thief Challenge! In questa sfida il tempo è tiranno:
                  supera lil mix di prove nel minor tempo possibile per guadagnare
                  punti, passare ai livelli successivi e... non farti beccare con
                  le mani nel sacco!
                </p>
              </div>
            </div>

            <!--<button mat-raised-button class="cta-button" color="accent">GET STARTED FREE</button>-->

            <!--<div class="note">7 day free trial to start</div>-->

          </div>
        </div>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" fxLayout="column">
        <div class="leaderboards" fxLayout="row" fxLayoutWrap>
          <div class="table-users">
            <div class="capo">CLASSIFICA LABORATORIO</div>

            <table cellspacing="0">

                <mat-tab-group dynamicHeight="true">
                    <mat-tab label="COMPLESSIVA">
                      <app-labcomplessiva></app-labcomplessiva>
                    </mat-tab>
                    <mat-tab label="LOGICA">
                      <app-lablogica></app-lablogica>
                    </mat-tab>
                    <mat-tab label="CREATIVITÁ">
                      <app-labcreativita></app-labcreativita>
                    </mat-tab>
                    <mat-tab label="PROBLEM SOLVING" class="last-label">
                      <app-labproblemsolving></app-labproblemsolving>
                    </mat-tab>
                </mat-tab-group>


            </table>
          </div>
          <div class="table-users">
            <div class="capo">CLASSIFICA GLOBALE</div>

            <table cellspacing="0">
              <tr>
                <mat-tab-group dynamicHeight="true">
                  <th>
                    <mat-tab label="COMPLESSIVA">
                      <app-complessiva></app-complessiva>
                    </mat-tab>
                  </th>
                  <th>
                    <mat-tab label="LOGICA">
                      <app-logica></app-logica>
                    </mat-tab>
                  </th>
                  <th>
                    <mat-tab label="CREATIVITÁ">
                      <app-creativita></app-creativita>
                    </mat-tab>
                  </th>
                  <th>
                    <mat-tab label="PROBLEM SOLVING">
                      <app-problemsolving></app-problemsolving>
                    </mat-tab>
                  </th>
                </mat-tab-group>
              </tr>

            </table>
          </div>
        </div>
    </div>

</div>

