<div id="timeline" class="p-24" fxLayout="row" fxLayoutWrap>

    <div class="timeline-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" fxFlex.gt-md="25">
      <div class="profile-box latest-activity" fxLayout="column"
         *fuseIfOnDom [@animate]="{value:'*',params:{delay:'200ms',y:'100%'}}">

        <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="title">{{ 'PROFILE.YOUR_PROGRESS' | translate }}</div>
            <!--<div class="more secondary-text">See All</div>-->
        </header>
        <div class="stats">
          <div class="progress">
            <ul>
            <li>
              <!-- COOPERATION -->
              <p style="width:100%" data-value="80"><small>COOPERATION</small></p>
              <progress max="100" value="80" class="html5">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 80%"><small>80%</small></span>
                </div>
              </progress>
            </li>

            <!-- LEARNING -->
            <li>
              <p style="width:100%" data-value="60"><small>LEARNING</small></p>
                <progress max="100" value="60" class="css3">
                  <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                  <div class="progress-bar">
                    <span style="width: 60%"><small>60%</small></span>
                  </div>
                </progress>
            </li>
              <!-- PLANNING -->
            <li>
            <p style="width:100%" data-value="50"><small>PLANNING</small></p>
              <progress max="100" value="50" class="jquery">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 50%"><small>50%</small></span>
                </div>
              </progress>
            </li>
            <!--PROBLEM SOLVING-->
            <li>
              <p style="width:100%" data-value="75"><small>PROBLEM SOLVING</small></p>
              <progress max="100" value="75" class="python">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 75%"><small>75%</small></span>
                </div>
              </progress>
            </li>
            <!-- LOGIC -->
            <li>
              <p style="width:100%" data-value="60"><small>LOGIC</small></p>
              <progress max="100" value="60" class="css3">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                  <span style="width: 60%"><small>60%</small></span>
                </div>
              </progress>
            </li>
              <!-- CREATIVITY -->
            <li>
              <p style="width:100%" data-value="50"><small>CREATIVITY</small></p>
                <progress max="100" value="50" class="jquery">
                  <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                  <div class="progress-bar">
                    <span style="width: 50%"><small>50%</small></span>
                  </div>
                </progress>
            </li>
          </ul>
          </div>

          <div class="bonus">
            <div  class="perf">
              <div class="spacear">
                <span>{{ 'PROFILE.WEEKLY_ACHIEVEMENT' | translate }}</span>
              </div>
                <div class="image-star" [ngStyle]="{'background-image':'url(assets/images/starperformer.png)'}"></div>
            </div>

            <div class="logo">
            <div class="spacear">
                <span>{{ 'PROFILE.WEEKLY_CHALLENGE' | translate }}</span>
            </div>
              <div class="image-logo" [ngStyle]="{'background-image':'url(assets/images/Make7Logo.png)'}"></div>
            </div>
          </div>

        </div>
      </div>
    </div>







    <div class="timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50"
         *fuseIfOnDom [@animateStagger]="{value:'50'}">

        <div class="profile-box add-post"
             [@animate]="{value:'*',params:{y:'100%'}}">

            <div class="form" fxFlex>

                <textarea placeholder="Write something.."></textarea>

                <footer fxLayout="row" fxLayoutAlign="space-between center">

                    <div fxLayout="row" fxLayoutAlign="start center">

                        <button mat-icon-button aria-label="Add photo" matTooltip="Add Photo">
                            <mat-icon>photo</mat-icon>
                        </button>

                        <button mat-icon-button aria-label="Mention somebody" matTooltip="Mention somebody">
                            <mat-icon>person</mat-icon>
                        </button>

                        <button mat-icon-button aria-label="Add location" matTooltip="Add location">
                            <mat-icon>location_on</mat-icon>
                        </button>

                    </div>

                    <button mat-raised-button color="accent" class="post-button" aria-label="POST">POST</button>
                </footer>

            </div>

        </div>

        <mat-divider></mat-divider>
      <div class="timeline-item"
           [@animate]="{value:'*',params:{y:'100%'}}">

        <header fxLayout="row" fxLayoutAlign="space-between start">
          <div class="post">
            <div class="user" fxLayout="row" fxLayoutAlign="start center">
              <div class="thx">
                <div class="thx-txt">THANK YOU</div>
              </div>

              <div fxLayout="column">
                <div class="title">
                  <div class="postt">
                    <div class="post-up">
                      <p><strong>THANK YOU</strong></p>
                      <p>For a job well done</p>
                    </div>
                    <div class="post-down">
                      <div>
                        <span class="username"> {{ 'PROFILE.USERNAME' | translate }} </span>
                        <span> {{ 'PROFILE.USER_RECEIVE_REWARD' | translate }} </span>
                      </div>
                      <br><br>
                      <div class="time">{{ 'PROFILE.THIRTY_MIN_AGO' | translate}} <span class="username">{{ 'PROFILE.FOLLOWER_USERNAME' | translate }}</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button mat-icon-button aria-label="More">
            <mat-icon>more_vert</mat-icon>
          </button>
        </header>

        <div class="content">
          <div class="rowbuttons" fxLayout="row" fxLayoutAlign="end center">
            <div class="confirm-btn"><span>{{ 'PROFILE.CONFIRM' | translate }}</span></div>
          </div>
        </div>

      </div>



        <div class="timeline-item" *ngFor="let post of timeline.posts"
             [@animate]="{value:'*',params:{y:'100%'}}">

            <header fxLayout="row" fxLayoutAlign="space-between start">
                <div class="user" fxLayout="row" fxLayoutAlign="start center">
                    <img class="avatar" [src]="post.user.avatar">

                    <div fxLayout="column">
                        <div class="title">
                            <span class="username">{{post.user.name}}</span>
                            <span *ngIf="post.type === 'post'">posted on your timeline</span>
                            <span *ngIf="post.type === 'something'">shared something with you</span>
                            <span *ngIf="post.type === 'video'">shared a video with you</span>
                            <span *ngIf="post.type === 'article'">shared an article with you</span>
                        </div>
                        <div class="time">{{post.time}}</div>
                    </div>
                </div>

                <button mat-icon-button aria-label="More">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </header>

            <div class="content">
                <div *ngIf="post.message" class="message">
                    {{post.message}}
                </div>

                <div *ngIf="post.media" class="media">
                    <img *ngIf="post.media.type === 'image'" [src]="post.media.preview">
                    <div *ngIf="post.media.type === 'video'" [innerHtml]="post.media.embed"></div>
                </div>

                <div *ngIf="post.article" fxLayout="column" class="article">
                    <div class="media">
                        <img [src]="post.article.media.preview">
                    </div>
                    <div class="title">{{post.article.title}}</div>
                    <div class="subtitle">{{post.article.subtitle}}</div>
                    <div class="excerpt">{{post.article.excerpt}}</div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-button class="like-button">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16">favorite</mat-icon>
                            <span>Like</span>&nbsp;<span>({{post.like}})</span>
                        </span>
                    </button>
                    <button mat-button class="share-button">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16">share</mat-icon>
                            <span>Share</span>&nbsp;<span>({{post.share}})</span>
                        </span>
                    </button>
                </div>
            </div>

            <footer class="" fxLayout="column" fxLayoutAlign="start start">
                <div *ngIf="post.comments" class="comment-count" fxLayout="row" fxLayoutAlign="start center">
                    {{post.comments.length}} comments
                    <mat-icon class="s-16">keyboard_arrow_down</mat-icon>
                </div>

                <div class="comment" fxLayout="row" fxFlexFill *ngFor="let comment of post.comments">
                    <img [src]="comment.user.avatar" class="avatar"/>

                    <div fxLayout="column" fxFlex>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <span class="username">{{comment.user.name}}</span>
                            <span class="time">{{comment.time}}</span>
                        </div>
                        <div class="message">
                            {{comment.message}}
                        </div>
                        <div class="actions" fxLayout="row" fxLayoutAlign="space-between center">
                            <a href="#" class="reply-button">Reply</a>
                            <mat-icon fxFlex class="report-button s-16">flag</mat-icon>
                        </div>
                    </div>
                </div>

                <div class="reply" fxLayout="row" fxFlexFill>
                    <img src="assets/images/avatars/Trevino.jpg" class="avatar"/>

                    <form fxFlex>
                        <textarea placeholder="Add a comment..."></textarea>
                        <button mat-raised-button color="accent" class="post-comment-button" aria-label="Post Comment">
                            Post Comment
                        </button>
                    </form>
                </div>
            </footer>
        </div>
    </div>

    <div class="timeline-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" fxFlex.gt-md="25">

        <div class="profile-box latest-activity" fxLayout="column"
             *fuseIfOnDom [@animate]="{value:'*',params:{delay:'200ms',y:'100%'}}">

            <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">SALES LAB</div>
                <div class="more secondary-text" [routerLink]="['/lab']">{{ 'PROFILE.OPEN' | translate }}</div>
            </header>

            <div class="content" fxLayout="row" fxLayoutWrap>
                <div class="activities">
                    <div class="activity" fxLayout="row" fxLayoutAlign="start start"
                         *ngFor="let activity of timeline.activities">
                        <img [src]="activity.user.avatar" class="avatar" alt="{{activity.user.name}}"/>

                        <div fxLayout="column">
                            <div>
                                <span class="username">{{activity.user.name}}</span>
                                <span class="message"> {{activity.message}}</span>
                            </div>
                            <span class="time secondary-text">{{activity.time}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

