
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMatchTemplateLabel" data-translate="brainappbackendApp.matchTemplate.home.createOrEditLabel">Create or edit a Match Template</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.matchTemplate.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.matchTemplate.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="brainappbackendApp.matchTemplate.maxDuration" for="field_maxDuration">Max Duration</label>
            <input type="number" class="form-control" name="maxDuration" id="field_maxDuration"
                    ng-model="vm.matchTemplate.maxDuration"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="brainappbackendApp.matchTemplate.maxAttempt" for="field_maxAttempt">Max Attempt</label>
            <input type="number" class="form-control" name="maxAttempt" id="field_maxAttempt"
                    ng-model="vm.matchTemplate.maxAttempt"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="brainappbackendApp.matchTemplate.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.matchTemplate.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="brainappbackendApp.matchTemplate.custom" for="field_custom">Custom</label>
                <input type="checkbox" name="custom" id="field_custom"
                          ng-model="vm.matchTemplate.custom"/>
        </div>

        <div class="form-group">
            <label data-translate="brainappbackendApp.matchTemplate.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" ng-model="vm.matchTemplate.game" ng-options="game as game.description for game in vm.games track by game.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
