$padding: 10px;
.all {
  padding: 30px;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  background-color: #FAFAFA;
}
.game {
  //flex-grow: 2;
  padding: $padding;
  width: 50vw;


}
.game-pic {
  height: 300px !important;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //text-align: center;
}
.left {
  display: flex;
  justify-content: space-between;
  width: 500px;
  align-self: center;
}
.right {
align-self: center;
}
.game-title {
  color: white;
  letter-spacing: 2px;
  margin-left: 220px;
  & h1 {
    font-size: 40px;
  }
}
.btnpos {
  position: absolute;
  right: 80px;
  margin-top: -20px;
  //top: 120px;
}
.btn {
  width: 200px !important;
  height: 45px !important;
  background-color: #0B9AE4;
  color: white;
  font-size: 1.5em;
  letter-spacing: 2px;
}
.logo {
  height: 180px;
  width: 180px;
  padding: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 60px;
  left: 20px;
}
.game-descr {
  //padding: $padding;
}
.azure {
  color: #0B9AE4;
  font-size: 1.5em;
  letter-spacing: 2px;
}
.leaderboard {
  //flex-grow: 1;
  //position: sticky;
  //top: 500px;
  //margin: $padding;
  width: 500px;
}
$baseColor: #0E2A3B;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 35px;


.capo {
  background-color: #F3F4F5;
  color: black;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

img {
  border-radius: 50%;
  height: $imageSmall;
  width: $imageSmall;
}

.table-users {
  border-left: #d7d7d7 solid 0.6px;
  border-right: #d7d7d7 solid 0.6px;
  border-bottom: #b9b9b9 solid 0.8px;
  overflow: hidden;
  background-color: white;

  width: 500px;
}
/deep/.mat-tab-group {
  padding: 0 !important;
  display: flex;
  //width: 500px;

}
/deep/.mat-tab-labels {
  display: flex;
  padding: 0 !important;
}
/deep/.mat-tab-label {
  min-width: 60px !important;
  width: 125px !important;
  background-color: #0B9AE4;
  color: white;
  padding: 0 !important;
  border-right: white solid 0.2px;
  border-left: white solid 0.2px;
  //border-top: white solid 4px;
  //border-bottom: white solid 4px;
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }

}
table {
  //width: 400px;

  td, th {
    //color: darken($baseColor, 10%);
    padding: $padding;
  }

  td {
    text-align: center;
    vertical-align: middle;
    //
    //&:last-child {
    //  font-size: 0.95em;
    //  line-height: 1.4;
    //  text-align: left;
    //}
  }

  th {
    //background-color: lighten($baseColor, 50%);
    font-weight: 300;
    width: 145px;
    border-bottom: #e1e1e1 solid 0.3px;
  }

  tr {
    &:nth-child(2n) { background-color: white; }
    //&:nth-child(2n+1) { background-color: lighten($baseColor, 55%) }
  }
}



@media screen and (max-width: 500px) {
  .capo {
    background-color: transparent;
    color: lighten($baseColor, 60%);
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  }

  img {
    border: 3px solid;
    border-color: lighten($baseColor, 50%);
    height: $imageBig;
    margin: 0.5rem 0;
    width: $imageBig;
  }

  td {
    &:first-child {
      //background-color: lighten($baseColor, 45%);
      border-bottom: 1px solid lighten($baseColor, 30%);
      border-radius: $borderRadius $borderRadius 0 0;
      position: relative;
      top: 0;
      transform: translateY(0);
      width: 100%;
    }

    &:not(:first-child) {
      margin: 0;
      padding: 5px 1em;
      width: 100%;

      &:before {
        font-size: .8em;
        padding-top: 0.3em;
        position: relative;
      }
    }

    &:last-child  { padding-bottom: 1rem !important; }
  }

  tr {
    background-color: white !important;
    border: 1px solid lighten($baseColor, 20%);
    border-radius: $borderRadius;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    margin: 0.5rem 0;
    padding: 0;
  }

  .table-users {
    border: none;
    box-shadow: none;
    overflow: visible;
  }
}
