@import "src/app/core/scss/fuse";

:host {

    #price-tables {

        .header {
            padding: 24px;
            min-height: calc( 100vh - 64px);
            linear-gradient : (-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%) !important;
            background-size: cover;
            background-position: center;
            //background: #1A237E;
            //background: linear-gradient(to right, #0E2A3B 0%, #34306B 100%);

            @include media-breakpoint-down('xs') {
                height: 400px;
                min-height: 400px;
            }
            .terms {
              margin: 0px 20px;
            }
            .term {
              font-size: 12px;
              height: calc(100%- 8px);
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 10px;
              //white-space: nowrap;
            }
          .price {
            //padding: 0px !important;
            height: 25px;
          }

          .value {
            justify-content: space-around;
            margin-bottom: -7px;
            font-size: 15px;
            }
            .package-type {
              padding: 15px 0px;
              background-size: cover;
              background-position: center;
              min-height: 90px !important;
            }
          .package-typem {
              padding: 15px 0px;
              background-size: cover;
              background-position: center;
              min-height: 120px !important;
            }
            .ptside {
              max-height: 300px;
              height: 300px;
              width: 200px;
            }
            .ptmain {
              height: 470px;
              max-height: 470px;
            }
          .btn {
            //bottom: -30px;
            width: 150px;
            //padding: 0px !important;
          }
            .hero-text {
                margin: 60px auto;
                align-content: start !important;
                justify-content: start !important;

                @include media-breakpoint-down('xs') {
                    margin: 24px 24px;
                }

                .h1 {
                    color: white;
                    font-size: 36px;
                    font-weight: 400;
                    letter-spacing: 0.01em;
                    text-align: center;

                    @include media-breakpoint-down('xs') {
                        font-size: 32px;
                    }
                }

                .h3 {
                    color: rgba(255, 255, 255, 0.75);
                    max-width: 480px;
                    text-align: center;
                    margin-top: 16px;
                    font-weight: 300;
                    letter-spacing: 0.03em;

                    @include media-breakpoint-down('xs') {
                        font-size: 14px;
                    }
                }
            }
        }

        .price-tables {
          display: flex;
          align-self: flex-end;
          justify-content: space-evenly;
          flex: 1 0 auto;
          //margin-bottom: -80px;

            @include media-breakpoint-down('xs') {
                //margin-top: -128px;
            }

            .price-table {
                margin: 12px;
            }
        }

        .leaderboards {
            display: inline-flex;
          //flex-direction: row;
            flex: 1 0 auto;
            align-content: center;
            width: 1100px;
            margin: 20px auto;
            padding-top: 20px;
            border-top: #b9b9b9 solid 0.8px;
            justify-content: space-between;

            .title {
                font-size: 32px;
                font-weight: 300;
                text-align: center;
                margin-bottom: 64px;
                padding: 0 16px;
            }

            .item {
                padding: 24px;

                .question {
                    font-size: 18px;
                    margin-bottom: 8px;
                }

                .answer {
                    font-size: 16px;
                    line-height: 1.5;
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }
    }
  .content {
    min-height: calc( 100vh - 64px);
  }
  /deep/.mat-tab-group {
    padding: 0 !important;
    display: flex;
    //width: 500px;
    border-bottom: none;
  }
  /deep/.mat-tab-labels {
    display: flex;
    padding: 0 !important;
    border-bottom: none;

  }
  /deep/.mat-tab-label {
    min-width: 60px !important;
    width: 125px !important;
    background-color: #0B9AE4;
    color: white;
    padding: 0 !important;
    border-right: white solid 1px;
    border-left: white solid 1px;
    //margin-top: 10px;
    //margin-bottom: 10px;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }

  }

  .mat-tab-label.mat-ripple.mat-tab-label-active {
    background-color: #0B9AE4;
    color: white;
  }
  $baseColor: #0B9AE4;
  $borderRadius: 10px;
  $imageBig: 100px;
  $imageSmall: 35px;
  $padding: 10px;

  .capo {
      background-color: #F3F4F5;
      color: black;
      font-size: 1.5em;
      padding: 1rem;
      text-align: center;
      text-transform: uppercase;
    }

  img {
    border-radius: 50%;
    height: $imageSmall;
    width: $imageSmall;
  }

  .table-users {
    border-left: #d7d7d7 solid 0.6px;
    border-right: #d7d7d7 solid 0.6px;
    border-bottom: #b9b9b9 solid 0.8px;
    overflow: hidden;
    background-color: white;
    height: auto;
  }

  table {
    width: 500px;
    display: flex;

    td, th {
      //color: darken($baseColor, 10%);
      padding: $padding;
    }

    td {
      text-align: center;
      vertical-align: middle;
      //
      //&:last-child {
      //  font-size: 0.95em;
      //  line-height: 1.4;
      //  text-align: left;
      //}
    }

    th {
      //background-color: lighten($baseColor, 50%);
      font-weight: 300;
      width: 145px;
      //border-bottom: $baseColor solid 0.5px;
    }


  }

  @media screen and (max-width: 700px) {
    table, tr, td { display: block; }

    td {
      &:first-child {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: $imageBig;
      }

      &:not(:first-child) {
        clear: both;
        margin-left: $imageBig;
        padding: 4px 20px 4px 90px;
        position: relative;
        text-align: left;

        &:before {
          //color: lighten($baseColor, 30%);
          content: '';
          display: block;
          left: 0;
          position: absolute;
        }
      }

      &:nth-child(2):before { content: 'Name:'; }
      &:nth-child(3):before { content: 'Email:'; }
      &:nth-child(4):before { content: 'Phone:'; }
      &:nth-child(5):before { content: 'Comments:'; }
    }

    tr {
      padding: $padding 0;
      position: relative;
      &:first-child { display: none; }
    }
  }

  @media screen and (max-width: 500px) {
    .capo {
      background-color: transparent;
      //color: lighten($baseColor, 60%);
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    }

    img {
      border: 3px solid;
      //border-color: lighten($baseColor, 50%);
      height: $imageBig;
      margin: 0.5rem 0;
      width: $imageBig;
    }

    td {
      &:first-child {
        //background-color: lighten($baseColor, 45%);
        //border-bottom: 1px solid lighten($baseColor, 30%);
        border-radius: $borderRadius $borderRadius 0 0;
        position: relative;
        top: 0;
        transform: translateY(0);
        width: 100%;
      }

      &:not(:first-child) {
        margin: 0;
        padding: 5px 1em;
        width: 100%;

        &:before {
          font-size: .8em;
          padding-top: 0.3em;
          position: relative;
        }
      }

      &:last-child  { padding-bottom: 1rem !important; }
    }

    tr {
      background-color: white !important;
      //border: 1px solid lighten($baseColor, 20%);
      border-radius: $borderRadius;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
      margin: 0.5rem 0;
      padding: 0;
    }

    .table-users {
      border: none;
      box-shadow: none;
      overflow: visible;
    }
  }
}
