<table cellspacing="0">
  <tr>
    <th>Rank</th>
    <th>User</th>
    <th></th>
    <th>Score</th>
  </tr>

  <tr>
    <td>1</td>
    <td><img src="http://lorempixel.com/100/100/people/1" alt="" /></td>
    <td>Jane Doe</td>
    <td>5</td>
  </tr>

  <tr>
    <td>2</td>
    <td><img src="http://lorempixel.com/100/100/sports/2" alt="" /></td>
    <td>Jane Doe</td>
    <td>8</td>
  </tr>

  <tr>
    <td>3</td>
    <td><img src="http://lorempixel.com/100/100/people/9" alt="" /></td>
    <td>Jane Doe</td>
    <td>4</td>
  </tr>

  <tr>
    <td>4</td>
    <td><img src="http://lorempixel.com/100/100/people/3" alt="" /></td>
    <td>Jane Doe</td>
    <td>4</td>
  </tr>
</table>
