<div>
    <h2 data-translate="gatoradeApp.attempt.home.title">Attempts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="attempt.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gatoradeApp.attempt.home.createLabel">
                        Create new Attempt
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="attemptScore"><span data-translate="gatoradeApp.attempt.attemptScore">Attempt Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startAttempt"><span data-translate="gatoradeApp.attempt.startAttempt">Start Attempt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stopAttempt"><span data-translate="gatoradeApp.attempt.stopAttempt">Stop Attempt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="levelReached"><span data-translate="gatoradeApp.attempt.levelReached">Level Reached</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastUpdate"><span data-translate="gatoradeApp.attempt.lastUpdate">Last Update</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cancelled"><span data-translate="gatoradeApp.attempt.cancelled">Cancelled</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="completed"><span data-translate="gatoradeApp.attempt.completed">Completed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valid"><span data-translate="gatoradeApp.attempt.valid">Valid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="localId"><span data-translate="gatoradeApp.attempt.localId">Local Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="match.id"><span data-translate="gatoradeApp.attempt.match">Match</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="attempt in vm.attempts track by attempt.id">
                    <td><a ui-sref="attempt-detail({id:attempt.id})">{{attempt.id}}</a></td>
                    <td>{{attempt.attemptScore}}</td>
                    <td>{{attempt.startAttempt | date:'medium'}}</td>
                    <td>{{attempt.stopAttempt | date:'medium'}}</td>
                    <td>{{attempt.levelReached}}</td>
                    <td>{{attempt.lastUpdate | date:'medium'}}</td>
                    <td>{{attempt.cancelled}}</td>
                    <td>{{attempt.completed}}</td>
                    <td>{{attempt.valid}}</td>
                    <td>{{attempt.localId}}</td>
                    <td>
                        <a ui-sref="match-detail({id:attempt.match.id})">{{attempt.match.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="attempt-detail({id:attempt.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="attempt.edit({id:attempt.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="attempt.delete({id:attempt.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
