<table cellspacing="0">
  <tr>
    <th>Rank</th>
    <th>User</th>
    <th></th>
    <th>Score</th>
  </tr>

  <tr>
    <td>1</td>
    <td><img src='assets/images/avatars/alice.jpg'/></td>
    <td>Nella Cocci</td>
    <td>{{score.total}}</td>
  </tr>

  <tr>
    <td>2</td>
    <td><img src='assets/images/avatars/andrew.jpg'/></td>
    <td>Guglielmo Siciliani</td>
    <td>8</td>
  </tr>

  <tr>
    <td>3</td>
    <td><img src='assets/images/avatars/garry.jpg'/></td>
    <td>Claudio Castiglione</td>
    <td>4</td>
  </tr>
  <tr>
    <td>4</td>
    <td><img src='assets/images/avatars/carl.jpg'/></td>
    <td>Viviano Lori</td>
    <td>4</td>
  </tr>
  <tr>
    <td>5</td>
    <td><img src='assets/images/avatars/jane.jpg'/></td>
    <td>Antonina Trevisan</td>
    <td>4</td>
  </tr>
  <tr>
    <td>6</td>
    <td><img src='assets/images/avatars/james.jpg'/></td>
    <td>Luca Padovesi</td>
    <td>4</td>
  </tr>
  <tr>
    <td>7</td>
    <td><img src='assets/images/avatars/joyce.jpg'/></td>
    <td>Antonella Siciliano</td>
    <td>4</td>
  </tr>
  <tr>
    <td>8</td>
    <td><img src='assets/images/avatars/vincent.jpg'/></td>
    <td>Andrea Trentini</td>
    <td>4</td>
  </tr>
  <tr>
    <td>9</td>
    <td><img src='assets/images/avatars/Estes.jpg'/></td>
    <td>Lucrezia Toscani</td>
    <td>4</td>
  </tr>
  <tr>
    <td>10</td>
    <td><img src='http://lorempixel.com/100/100/people/3'/></td>
    <td>Fedele Lori</td>
    <td>4</td>
  </tr>

</table>
