<div>
    <h2 data-translate="gatoradeApp.match.home.title">Matches</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="match.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gatoradeApp.match.home.createLabel">
                        Create new Match
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="start"><span data-translate="gatoradeApp.match.start">Start</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stop"><span data-translate="gatoradeApp.match.stop">Stop</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="diffLevel"><span data-translate="gatoradeApp.match.diffLevel">Diff Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="gatoradeApp.match.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastStart"><span data-translate="gatoradeApp.match.lastStart">Last Start</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timeSpent"><span data-translate="gatoradeApp.match.timeSpent">Time Spent</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usedToPO"><span data-translate="gatoradeApp.match.usedToPO">Used To PO</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="elaborated"><span data-translate="gatoradeApp.match.elaborated">Elaborated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="matchToken"><span data-translate="gatoradeApp.match.matchToken">Match Token</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valid"><span data-translate="gatoradeApp.match.valid">Valid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sendToPo"><span data-translate="gatoradeApp.match.sendToPo">Send To Po</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="retry"><span data-translate="gatoradeApp.match.retry">Retry</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="anomalous"><span data-translate="gatoradeApp.match.anomalous">Anomalous</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="replayState"><span data-translate="gatoradeApp.match.replayState">Replay State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="parentId"><span data-translate="gatoradeApp.match.parentId">Parent Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="game.description"><span data-translate="gatoradeApp.match.game">Game</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="template.description"><span data-translate="gatoradeApp.match.template">Template</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="session.id"><span data-translate="gatoradeApp.match.session">Session</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in vm.matches track by match.id">
                    <td><a ui-sref="match-detail({id:match.id})">{{match.id}}</a></td>
                    <td>{{match.start | date:'medium'}}</td>
                    <td>{{match.stop | date:'medium'}}</td>
                    <td>{{match.diffLevel}}</td>
                    <td>{{match.userId}}</td>
                    <td>{{match.lastStart | date:'medium'}}</td>
                    <td>{{match.timeSpent}}</td>
                    <td>{{match.usedToPO}}</td>
                    <td>{{match.elaborated}}</td>
                    <td>{{match.matchToken}}</td>
                    <td>{{match.valid}}</td>
                    <td>{{match.sendToPo}}</td>
                    <td>{{match.retry}}</td>
                    <td>{{match.anomalous}}</td>
                    <td data-translate="{{'gatoradeApp.MatchReplayState.' + match.replayState}}">{{match.replayState}}</td>
                    <td>{{match.parentId}}</td>
                    <td>
                        <a ui-sref="game-detail({id:match.game.id})">{{match.game.description}}</a>
                    </td>
                    <td>
                        <a ui-sref="match-template-detail({id:match.template.id})">{{match.template.description}}</a>
                    </td>
                    <td>
                        <a ui-sref="session-detail({id:match.session.id})">{{match.session.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="match-detail({id:match.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="match.edit({id:match.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="match.delete({id:match.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
