/*FONTS */
.roboto  {
    font-family: 'Roboto Condensed', sans-serif !important;
}

/* Main navbar */
.db-navbar {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    background: #791911;
    transition: all 0.3s ease;
    height: 70px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    border-radius: 0px;
}


/*Dashboard*/
.bluebtn {
    background-color: #4690d0;
    color: white;
}
.bluebtn:hover {
    background-color: #2D77B7;
    color: white;
}

.yellowbtn {
    background-color: #ec971f;
    color: white;
}
.yellowbtn:hover {
    background-color: #d37e06;
    color: white;
}

.redbtn {
    background-color: #ff5e5e;
    color: white;
}
.redbtn:hover {
    background-color: #e64545;
    color: white;
 }
.btn:focus {
    color:white;
}
.box {
    box-shadow: 2px 2px 10px rgba(125,125,125,0.15);
    min-height: 20vh;
}
.box-scores {
    box-shadow: 2px 2px 10px rgba(125, 125, 125, 0.15);
}
.whitebkg {
    background-color: white;
}
.white {
    color: white;
}
.flex {
    display: flex;
}
.flexbtw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexaround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexcol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.somepadding {
    padding: 20px;
}
.nopadding {
    padding: 0px;
}
.nomar {
    margin: 0px;
}
.match {
    border-bottom: 1px solid #F3F2F2;
    padding: 5px 15px;
}
.statusinfogo {
    background-color: #38c738;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.statusinfono {
    background-color: #ff5e5e;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: flex;
    position: relative;
    z-index: 2;
}

.statusinfofo {
    background-color: #ffbc5e;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.statusinfost {
    background-color: #d6d5d5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.bigcircle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #ff5e5e;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mid {
    align-items: center;
}

.right {
    align-items: center;
}

.alias {
    min-width: 100px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nobrdbot {
    border-bottom: none;
}

.brdbot {
    border-bottom: 1px solid #F3F2F2;
}

.advancement {
    min-width: 150px;
    max-width: 150px;
}

.btns {
    min-width: 200px;
    max-width: 200px;
}

.maxpoints {
    min-width: 100px;
    max-width: 100px;
}

.img-fix {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 20px;
    width: 20px;
}

.somemarright {
    margin-right: 5px;
}

.border-radius {
    border-radius: 5px;
}

.brokenbtn {
    background-color: #A9A9A9;
    border-color: #A9A9A9;
}

.brokenbtn[disabled]:hover {
    background-color: #A9A9A9;
    border-color: #A9A9A9;
}
/*End Dashboard*/

/*.circle{*/
    /*background: #72cc77;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*border-radius: 50%;*/
/*}*/

/*.circle::after{*/
    /*display: block;*/
    /*content: "";*/
    /*width: 15px;*/
    /*height: 15px;*/

    /*background: #84ed8a;*/
    /*border-radius: 50%;*/

    /*animation: expand 3s infinite;*/
/*}*/

/*@-webkit-keyframes expand{*/
    /*25%{transform: scale(0.8); opacity: 1;}*/
    /*50%{transform: scale(1); }*/
    /*75%{transform: scale(1.5); }*/
    /*100%{transform: scale(1); opacity: .6; }*/
/*}*/
/*@keyframes expand{*/
    /*25%{transform: scale(0.8); opacity: 1;}*/
    /*50%{transform: scale(1); }*/
    /*75%{transform: scale(1.5); }*/
    /*100%{transform: scale(1); opacity: .8; }*/
/*}*/
.progreslight {
    display: flex;
    align-items: center;
}
.rectangle {
    height: 10px;
    width: 70px;
    margin-right: -3px;
    margin-left: -3px;
    position: relative;
    z-index: 1;
}
.g2y {
    background: linear-gradient(to right, #38c738, #ffbc5e);
}

.gray {
    background-color: #dcdcdc;
}

.green {
    background-color: #38c738;
}
.red {
    background-color: #ff5e5e;
}
.firstrectangle {
    position: relative;
    height: 10px;
    width: 70px;
    margin-right: -3px;
    margin-left: -3px;
    border-radius: 10px 0% 0% 10px;
}
