
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMatchLabel" data-translate="gatoradeApp.match.home.createOrEditLabel">Create or edit a Match</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.match.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.match.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.start" for="field_start">Start</label>
                <div class="input-group">
                    <input id="field_start" type="text" class="form-control" name="start" datetime-picker="{{dateformat}}" ng-model="vm.match.start" is-open="vm.datePickerOpenStatus.start"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('start')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.stop" for="field_stop">Stop</label>
                <div class="input-group">
                    <input id="field_stop" type="text" class="form-control" name="stop" datetime-picker="{{dateformat}}" ng-model="vm.match.stop" is-open="vm.datePickerOpenStatus.stop"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('stop')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.diffLevel" for="field_diffLevel">Diff Level</label>
            <input type="number" class="form-control" name="diffLevel" id="field_diffLevel"
                    ng-model="vm.match.diffLevel"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.userId" for="field_userId">User Id</label>
            <input type="text" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.match.userId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.lastStart" for="field_lastStart">Last Start</label>
                <div class="input-group">
                    <input id="field_lastStart" type="text" class="form-control" name="lastStart" datetime-picker="{{dateformat}}" ng-model="vm.match.lastStart" is-open="vm.datePickerOpenStatus.lastStart"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastStart')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.timeSpent" for="field_timeSpent">Time Spent</label>
            <input type="number" class="form-control" name="timeSpent" id="field_timeSpent"
                    ng-model="vm.match.timeSpent"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.usedToPO" for="field_usedToPO">Used To PO</label>
                <input type="checkbox" name="usedToPO" id="field_usedToPO"
                          ng-model="vm.match.usedToPO"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.elaborated" for="field_elaborated">Elaborated</label>
                <input type="checkbox" name="elaborated" id="field_elaborated"
                          ng-model="vm.match.elaborated"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.matchToken" for="field_matchToken">Match Token</label>
            <input type="number" class="form-control" name="matchToken" id="field_matchToken"
                    ng-model="vm.match.matchToken"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.valid" for="field_valid">Valid</label>
                <input type="checkbox" name="valid" id="field_valid"
                          ng-model="vm.match.valid"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.sendToPo" for="field_sendToPo">Send To Po</label>
                <input type="checkbox" name="sendToPo" id="field_sendToPo"
                          ng-model="vm.match.sendToPo"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.retry" for="field_retry">Retry</label>
            <input type="number" class="form-control" name="retry" id="field_retry"
                    ng-model="vm.match.retry"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.anomalous" for="field_anomalous">Anomalous</label>
                <input type="checkbox" name="anomalous" id="field_anomalous"
                          ng-model="vm.match.anomalous"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.replayState" for="field_replayState">Replay State</label>
            <select class="form-control" name="replayState" ng-model="vm.match.replayState" id="field_replayState">
                <option value="playing" data-translate="gatoradeApp.MatchReplayState.playing">playing</option>
                <option value="main" data-translate="gatoradeApp.MatchReplayState.main">main</option>
                <option value="old" data-translate="gatoradeApp.MatchReplayState.old">old</option>
                <option value="cloned" data-translate="gatoradeApp.MatchReplayState.cloned">cloned</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.parentId" for="field_parentId">Parent Id</label>
            <input type="number" class="form-control" name="parentId" id="field_parentId"
                    ng-model="vm.match.parentId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.timeAFK" for="field_timeAFK">Time AFK</label>
            <input type="number" class="form-control" name="timeAFK" id="field_timeAFK"
                    ng-model="vm.match.timeAFK"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatoradeApp.match.restartable" for="field_restartable">Restartable</label>
                <input type="checkbox" name="restartable" id="field_restartable"
                          ng-model="vm.match.restartable"/>
        </div>

        <div class="form-group">
            <label data-translate="gatoradeApp.match.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" ng-model="vm.match.game" ng-options="game as game.description for game in vm.games track by game.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="gatoradeApp.match.template" for="field_template">Template</label>
            <select class="form-control" id="field_template" name="template" ng-model="vm.match.template" ng-options="matchTemplate as matchTemplate.description for matchTemplate in vm.matchtemplates track by matchTemplate.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="gatoradeApp.match.session" for="field_session">Session</label>
            <select class="form-control" id="field_session" name="session" ng-model="vm.match.session" ng-options="session as session.id for session in vm.sessions track by session.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
